body {
  background-color: white;
}

.title {
  text-align: center;
}

.region_select {
  width: 8rem;
  text-align: center;
}

.input__range {
  width: 13rem;
}

.users__table-header {
  height: 4rem;
  align-items: center;
}

.users__table-header {
  font-weight: bold;
}

.users__table-header-item {
  flex: 1 1 auto;
  text-align: center;
}

.users__table {
  height: 80vh;
  overflow-y: scroll;
}

.users__table-item-text {
  flex: 1 1 24%;
  text-align: center;
}

.users__table-item {
  display: flex;
  height: 3rem;
  align-items: center;
  list-style: none;
}

.users__table-item--even {
  background-color: lightgray;
}

.users__table-header-number,
.user__number {
  width: 4%;
  text-align: center;
}
